:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0px;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #3055ac;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: 121f3d;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #3055ac;  /* creates padding around scroll thumb */
}


#container{
  flex: 1;
  padding-right: 0;
  padding-left: 0;
}
#row-container{
  margin-left: 0;
  margin-right: 0;
}

#left-container{
  height: 100vh;
  background-color: white;
}

#main-container{
  height: 100vh;
  background-color: #f0f8ff00;
}
#left-container{
  padding-left: 0;
  padding-right: 0;
}

.tabs-container{
  height: 60vh;
  max-height: 60vh;
}

.tab-content{
 
  flex: 0.6;
  background-color: #182433;
 
}
.tabs-header{
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2px;
}

.tabs-header::-webkit-scrollbar {
  height: 10px;               /* width of the entire scrollbar */
}

.tabs-header::-webkit-scrollbar-track {
  background: #ffffff;        /* color of the tracking area */
}

.tabs-header::-webkit-scrollbar-thumb {
  background-color: #3055ac;    /* color of the scroll thumb */
  border-radius:4px;       /* roundness of the scroll thumb */
  border: 1px solid #3055ac;  /* creates padding around scroll thumb */
}

.tabs-item{
  flex: 0.4;
  background-color: #24385b;
  color: #ffffff !important;

}
.tabs-item > a{
  color: #ffffff !important;
}
.tabs-item:hover{
  background-color: #3055ac;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: #3055ac;
}

.tab-pane{
  padding: 0px;
  background-color: white;

}

.item-list{
  background-color: #3055ac;
}

.items-list-item{
  margin-top: 5px;
}

.item-layer{
  padding: 5px !important;
  color: #ffffff;
  cursor: pointer;
  border: #143e72 solid 1px;
}
.item-layer:hover{
  background-color: #4263eb !important;
  color: #ffffff !important;
}


.item-layer-borrar{
  padding: 5px !important;
  color: #ffffff;
  cursor: pointer;
  border: #6e1310 solid 1px;
}
.item-layer-borrar:hover{
  background-color: #b60000 !important;
  color: #ffffff !important;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

  #left-container {
    position: absolute;
    z-index: 1001;

  }
  #filter-container{
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: end;
    padding: 5px 5px 5px 5px;

  }
  .hr-text{
    margin-top: 1rem !important;
  }

  .years-container{
    justify-content: center !important;
  }
  .years-container > .btn {
    font-size: smaller !important;
  }

  .month-container > .btn {
    font-size: smaller !important;
  }

  .days-container > .btn {
    font-size: smaller !important;
  }

  .h2-content-section{
    font-size: small;
  }

  .row-costos {
    flex-direction: column-reverse !important;
    align-items: end;
  }

  
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

  .nav-tabs{
    flex-direction: column;
  }

  #filter-container{
    display: none !important;
  }

  .years-container{
    justify-content: center !important;
  }
  .years-container > .btn {
    font-size: smaller !important;
  }

  .month-container > .btn {
    font-size: smaller !important;
  }

  .days-container > .btn {
    font-size: smaller !important;
  }

  .hr-text{
    margin-top: 15px !important;
  }

  .tab-content-container {
    position: inherit;
    height: 30%;
    max-height: 30%;
    overflow-y: hidden;
  }
  .items-list-item {
    height: 16vh;
    overflow-y: auto;
  }

  .nav-link{
    font-size: smaller !important;
  }

  .item-layer{
    font-size: smaller !important;
  }


  .h2-content-section{
    font-size: small;
  }

  .row-costos {
    flex-direction: column-reverse !important;
    align-items: end;
  }

  .item-layer > svg{
    
    width: 18px !important;
    height: 18px !important;
  }

  .item-layer-borrar {
    font-size: smaller !important;
  }

  .item-layer-borrar > svg{
    
    width: 18px !important;
    height: 18px !important;
  }

  .tab-content-container {
   
    height: 40%;
    max-height: 40%;
  }

  .items-list-item {
    height: 25vh;
  }

  .tab-selected-container{
    height: 24%;
    max-height: 24%;
  }

  .days-container > button > svg{
    width: 15px !important;
    height: 15px !important;
  }

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .nav-tabs{
    flex-direction: row;
  }
  #filter-container{
    display: none !important;
  }

  .years-container{
    justify-content: start !important;
  }

  .tab-content-container {
    position: inherit;
    height: 50%;
    max-height: 50%;
    overflow-y: hidden;
  }

  .items-list-item {
    height: 50vh;
    overflow-y: auto;
  }

  .row-costos {
    flex-direction: row !important;
    align-items: start;
  }

  .years-container > .btn {
    font-size: 14px !important;
  }

  .month-container > .btn {
    font-size: 14px !important;
  }

  .days-container > .btn {
    font-size: 14px !important;
  }

  .nav-link{
    font-size: 14px !important;
  }

  .item-layer{
    font-size: 14px !important;
  }



 }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 

  .nav-tabs{
    flex-direction: row;
  }
  #filter-container{
    display: none !important;
  }

  .years-container{
    justify-content: start !important;
  }

  .tab-content-container {
    position: inherit;
    height: 60%;
    max-height: 60%;
    overflow-y: hidden;
  }
  .items-list-item {
    height: 50vh;
    overflow-y: auto;
  }

  .row-costos {
    flex-direction: row !important;
    align-items: start;
  }


 }
